{% if url is not defined or url == null %}
    {% set url = app.request.uri %}
{% endif %}

{% spaceless %}
<div class="social-button googleplus">
	<div	class="{{action}}"
			data-annotation="{{annotation}}"
			data-href="{{url}}"
			data-size="{{size}}"
			data-width="{{width}}"
			data-height="{{height}}"
			data-rel="{{rel}}"
	></div>
	<script type="text/javascript">
	window.___gcfg = {lang: '{{locale}}'};
	(function() {
		var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
		po.src = 'https://apis.google.com/js/plusone.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
	})();
	</script>
</div>
{% endspaceless %}