{% if url is not defined or url == null %}
    {% set url = app.request.uri %}
{% endif %}

{% spaceless %}
<div class="social-button linkedinButton">
	<div><script
		type="{{ action }}"
		data-counter="{{ counterLocation }}"
		{% if companyId is defined %}
		data-id="{{ companyId }}"
		{% else %}
		data-url="{{ url }}"
		{% endif %}
		></script>
	</div>
	<script src="//platform.linkedin.com/in.js" type="text/javascript">
		 lang: {{ locale }}
	</script>
</div>

{% endspaceless %}
