<style>
<!--
.social-bar{
    display: inline-block;
    display: -moz-inline-box;
    *display: inline; /* For IE7 */
    zoom: 1; /* Trigger hasLayout */
    text-align: center;
}
.social-button{
	float: left;
}
-->
</style>
<div class="social-bar">
{% if facebook is not sameas(false) %}
	{{ facebookButton(facebook, action) }}
{% endif %}
{% if googleplus is not sameas(false) %}
	{{ googlePlusButton(googleplus, action) }}
{% endif %}
{% if twitter is not sameas(false) %}
	{{ twitterButton(twitter, action) }}
{% endif %}
{% if xing is not sameas(false) %}
	{{ xingButton(xing, action) }}
{% endif %}
{% if linkedin is not sameas(false) %}
	{{ linkedInButton(linkedin, action) }}
{% endif %}
</div>